#modal-form-2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-form-2' aria-hidden='true')
    .modal-dialog.modal-.modal-dialog-centered.modal-md(role='document')
        .modal-content
        .modal-body.p-0
            .card.bg-secondary.border-0.mb-0
            .card-header.bg-transparent.pb-5
                .text-center.text-muted.mb-4
                h3 Add a New Account
            .card-body.px-lg-5.py-lg-5
                form(role='form')
                .form-group
                    label Select Account Currency
                    select.custom-select
                    option(label='Currency')
                    option NGN
                    option USD
                    option EUROS
                    option POUNDS
                    option RIYAHGS
                .form-group
                    label(for='formGroupExampleInput') Select Your Bank
                    .form-group
                    input.form-control(list='banks' name='bank' placeholder='e.g Choose your Bank' v-model="userSelectedBankAccount.bankName")
                    datalist#banks
                        option(value='Access Bank') Access Bank
                        option(value='Citibank') Citibank
                        option(value='Ecobank Bank') Ecobank
                        option(value='Fidelity Bank') Fidelity Bank
                        option(value='First City Monument Bank (FCMB)') First City Monument Bank (FCMB)
                        option(value='FSDH Merchant Bank') FSDH Merchant Bank
                        option(value='Guarantee Trust Bank (GTB)') Guarantee Trust Bank (GTB)
                        option(value='Heritage Bank') Heritage Bank
                        option(value='Keystone Bank') Keystone Bank
                        option(value='stanbic') Stanbic IBTC Bank
                        option(value='standard') Standard Chartered Bank
                        option(value='Sterling Bank') Sterling Bank
                        option(value='Union Bank') Union Bank
                        option(value='United Bank for Africa (UBA)') United Bank for Africa (UBA)
                        option(value='Unity Bank') Unity Bank
                        option(value='Wema Bank') Wema Bank
                        option(value='Zenith Bank') Zenith Bank
                .form-group.mb-3
                    label Account Number
                    .input-group.input-group-merge.input-group-alternative
                    .input-group-prepend
                        span.input-group-text
                        i.fas.fa-credit-card
                    input.form-control(placeholder='1018041933' type='number')
                .form-group
                    label Account Name
                    .input-group.input-group-merge.input-group-alternative
                    .input-group-prepend
                        span.input-group-text
                        i.fas.fa-user-circle
                    input.form-control(placeholder='Benjamin Emmanuel' type='text')
                p.blocquote * 313BDC will not be held liable if wrong denominated currency is inserted
                .custom-control.custom-control-alternative.custom-checkbox
                    input#customCheckLogin.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheckLogin')
                    span.text-muted
                        | I agree to the 
                        a(href='#') Terms &amp; Conditions
                        |  of 313BDC
                .text-center
                    button.btn.btn-primary.my-4(type='button') Sign in