//- script(src="assets/js/vue.js")
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title 313.com.ng
// Favicon
script(src="assets/js/vue.js")
script(src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js")
script(src="https://kit.fontawesome.com/fc31dedf63.js" crossorigin="anonymous")
link(rel='icon' href='assets/img/brand/favicon.ico' type='image/ico')
// Fonts
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
// Icons
link(rel='stylesheet' href='assets/vendor/nucleo/css/nucleo.css' type='text/css')
link(rel='stylesheet' href='assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' type='text/css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css')
// Argon CSS
link(rel='stylesheet' href='assets/css/argon.min-v=1.0.0.css' type='text/css')
link(rel='stylesheet' href='assets/css/main.css' type='text/css')

//- script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')

//- script(src="https://js.paystack.co/v1/inline.js")
