//- script(src="assets/js/vue.js")
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title 313.com.ng
// Favicon
script(src="assets/js/vue.js")
script(src="https://js.paystack.co/v1/inline.js")
// Start of Async Drift Code
script.
  "use strict";
  !function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
  if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
  t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
  return function() {
  var n = Array.prototype.slice.call(arguments);
  return n.unshift(e), t.push(n), t;
  };
  }, t.methods.forEach(function(e) {
  t[e] = t.factory(e);
  }), t.load = function(t) {
  var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
  var i = document.getElementsByTagName("script")[0];
  i.parentNode.insertBefore(o, i);
  };
  }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('26m9np8dt3dw');
// End of Async Drift Code

//- script(src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js")
script(src="https://kit.fontawesome.com/fc31dedf63.js" crossorigin="anonymous")
link(rel='icon' href='assets/img/brand/favicon.ico' type='image/ico')
// Fonts
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
// Icons
link(rel='stylesheet' href='assets/vendor/nucleo/css/nucleo.css' type='text/css')
link(rel='stylesheet' href='assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' type='text/css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css')
// Argon CSS
link(rel='stylesheet' href='assets/css/argon.min-v=1.0.0.css' type='text/css')
link(rel='stylesheet' href='assets/css/main.css' type='text/css')
link(rel='stylesheet' href='assets/css/bootstrap-select-country.min.css')

//- script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')

//- script(src="https://js.paystack.co/v1/inline.js")
