doctype html
head
    include head.pug
// Sidenav
include dashboard-side-nav.pug
// Main content
#panel.main-content
 #transactionApp
  // Topnav
  include dashboard-top-nav.pug
  .header.bg-green.pb-6
    .container-fluid
      .header-body
        .row.align-items-center.py-4
          .col-lg-6.col-7
            h6.h2.text-white.d-inline-block.mb-0 Dashboard
            nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
              ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                li.breadcrumb-item
                  a(href='#')
                    i.fas.fa-home
                li.breadcrumb-item.active
                  a(href='#') Transaction History
          .col-lg-6.col-5.text-right
            a.btn.btn-sm.btn-neutral(href='/new-transaction') New Transaction
            a.btn.btn-sm.btn-neutral(data-toggle='modal' data-target='#modal-form-2') Add Account
        // Card stats
  include trans-history.pug
  include new-transaction-modal.pug
  include footer.pug
include js-imports.pug
script(src="../assets/js/transaction.js")