doctype html
head
    include head.pug
// Sidenav
include dashboard-side-nav.pug
// Main content
#panel.main-content
  #transactionApp
    
    // Header
    // Header
    include dashboard-top-nav.pug
    .header.bg-green.pb-6
      .container-fluid
        .header-body
          .row.align-items-center.py-4
            .col-lg-6.col-7
              h6.h2.text-white.d-inline-block.mb-0 Dashboard
              nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                  li.breadcrumb-item
                    a(href='#')
                      i.fas.fa-home
                  li.breadcrumb-item.active
                    a(href='#') Wallet
            .col-lg-6.col-5.text-right
              a.btn.btn-sm.btn-neutral(href='new_trans.html') New Transaction
              a.btn.btn-sm.btn-neutral(href='bank_details.html') Add Account
          // Card stats
    // Page content
    .container-fluid.mt--6
      .row
        .col-xl-12
          .card
            // Card body
            .card-body
              .row.align-items-center
                .col-auto
                  // Avatar
                  a.avatar.avatar-xl(href='#')
                    img(alt='Image placeholder' src='assets/img/icons/common/support.svg')
                .col-6.ml--
                  | How can we Help ?
                .col.text-right
                  button.btn.btn-success(type='button' data-toggle='modal' data-target='#modal-support')
                    | Open Ticket
      // Footer
    include ticket-logs.pug
    include new-transaction-modal.pug
  include footer.pug
  
include js-imports.pug
script(src="../assets/js/transaction.js")
