.container-fluid.mt--6
    .row
      .col-xl-12
        .card
          .card-header.border-0
            .row.align-items-center
              .col
                h3.mb-0 Ticket Lists
          .table-responsive
            // Projects table
            .table-responsive
              table.table.align-items-center.table-flush
                thead.thead-light
                  tr
                    th.sort(scope='col' data-sort='date') Subject
                    th.sort(scope='col' data-sort='Activity') Type
                    th.sort(scope='col' data-sort='ID') Priority
                    th.sort(scope='col' data-sort='Amount') Created
                    th.sort(scope='col' data-sort='Amount') Active
                    th.sort(scope='col' data-sort='Status') Updated
                    //- th.sort(scope='col' data-sort='Timer') Messages
                    th(scope='col') Action
                tbody.list
                  tr(v-for='ticket in myOpenTickets' v-cloak)
                    td.budget
                      | {{ ticket.subject }}
                      //- | {{ format_date(transactionLog.created_date) }}
                    td.budget
                      | {{ticket.type}}
                    td.budget
                      | {{ ticket.priority }}
                    td {{ ticket.created_date }}
                    td {{ticket.active}}
                    td {{ticket.updated}}
                    //- td {{ticket.message}}
                    td.text-right
                          .dropdown
                            a.btn.btn-sm.btn-icon-only.text-light(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                              i.fas.fa-ellipsis-v
                            .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
                              a.dropdown-item(href='#' type='button' data-toggle='modal' @click="selectTicket(ticket._id, ticket.message)" data-target='#modal-comment') Comment
                  
                  
          .card-footer.py-4
            nav(aria-label='...')
              ul.pagination.justify-content-end.mb-0
                li.page-item.disabled
                  a.page-link(href='#' tabindex='-1')
                    i.fas.fa-angle-left
                    span.sr-only Previous
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#')
                    | 2 
                    span.sr-only (current)
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#')
                    i.fas.fa-angle-right
                    span.sr-only Next


